.layout-main {
  background-color: var(--theme-backdrop-glossy);
  border-radius: var(--border-radius-4);
  border: 1px solid var(--theme-stroke);
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 140px);
  margin: var(--margin-layout);
  z-index: 10;
  backdrop-filter: blur(60px);
  overflow: hidden;

  &__content {
    display: flex;
    flex: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: var(--theme-background);
      border-left: 1px solid var(--theme-stroke);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-teal-600);
    }
  }
}

// Tablet
@media (max-width: 1024px) {
  :root {
    --margin-layout: 40px;
  }
}

// Phone
@media (max-width: 768px) {
  :root {
    --margin-layout: 12px;
  }

  .layout-main {
    height: calc(100% - 24px);
  }
}
