.layout-main {
  background-color: var(--theme-backdrop-glossy);
  border-radius: var(--border-radius-4);
  border: 1px solid var(--theme-stroke);
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 140px);
  margin: 70px;
  z-index: 10;
  backdrop-filter: blur(60px);

  &__content {
    display: flex;
    flex: 1;
    overflow: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--theme-stroke);

    > * {
      padding: var(--space-base) var(--space-xl);
      border-right: 1px solid var(--theme-stroke);
    }

    .footer-link {
      padding-left: var(--space-base);
      padding-right: var(--space-base);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      max-width: var(--sidebar-width);
      color: var(--color-slate-300);

      &:hover {
        color: var(--color-slate-50);
      }
    }
  }
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--theme-stroke);

  .nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-md);
  }

  .nav-links > div {
    display: flex;
    align-items: center;
  }

  .nav-link {
    position: relative;
    padding: var(--space-base) var(--space-xl);
    color: var(--color-slate-300);
    text-decoration: none;
    border-right: 1px solid var(--theme-stroke);

    &.nav-link-right {
      border-right: 0;
      border-left: 1px solid var(--theme-stroke);
    }

    &:not(.nav-logo):before {
      content: "";
      position: absolute;
      transition: height 300ms ease;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0px;
      background-color: var(--primary-background);
      width: 100%;
    }

    &:hover,
    &.active {
      color: var(--color-slate-50);

      &:before {
        height: 3px;
      }
    }
  }

  .nav-logo {
    min-width: var(--sidebar-width);
  }
}
