.about-section {
  display: flex;
  width: 100%;

  .max-width-books {
    max-width: 1300px;
    margin: 0 auto;
  }

  .staggered-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-base);
  }

  .bio-structure {
    display: flex;
    gap: var(--space-base);
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    > * {
      flex: 1 1 800px;
    }

    .code-snippet__description {
      margin-top: 0;
      min-width: 400px;
    }
  }
}
