.hobbie-details {
  position: relative;
  padding: var(--space-l);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;

  &-back-action {
    position: sticky;
    left: 0;
    top: 0;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--theme-background);
    border-left: 1px solid var(--theme-stroke);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-teal-600);
  }

  &__content {
    width: 100%;

    &-phrase {
      font-size: var(--font-size-h4);
      text-align: center;
      color: var(--color-indigo-500);
      margin-left: calc(-1 * var(--space-xl));
      margin-right: calc(-1 * var(--space-xl));
      display: flex;
      justify-content: center;
      padding: var(--space-xl);
      border-top: 1px solid var(--theme-stroke);
      border-bottom: 1px solid var(--theme-stroke);
      background-color: #02061846;
      width: 100vw;
      margin: 0 calc(-50vw + 50%);
    }

    &-mainDescription {
      border: 1px solid var(--theme-stroke);
      background-color: var(--color-slate-950);
      padding: var(--space-base);
      border-radius: var(--border-radius-5);
      margin-bottom: var(--space-l);
    }

    &-title {
      font-size: var(--font-size-h2);
      margin-bottom: var(--space-s);
      text-align: center;
    }

    &-subtitle {
      text-align: center;
      color: var(--foreground);
      margin-bottom: var(--space-m);
    }

    &-gallery {
      margin: var(--space-l) auto 0;
      max-width: 80%;
    }

    &-link-container {
      padding: var(--space-xl);
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        font-size: var(--font-size-h5);
      }

      &__link {
        margin-top: var(--space-base);
        background-color: var(--color-indigo-500);
        color: var(--color-teal-100);
        text-decoration: none;
        border-radius: var(--border-radius-4);
        padding: var(--space-s) var(--space-m);
      }
    }
  }
}
