.contacts-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  gap: var(--space-3xl);
  height: 100%;

  .syntax-break {
    display: block;
    overflow-wrap: anywhere !important;
    max-width: 100%;
    overflow-x: auto;
    white-space: normal !important;
  }
}

// Tablet
@media (width <= 1024px) {
  .contacts-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .syntax-break {
      display: none;
    }
  }
}

// Phone
@media (max-width: 768px) {
  .contacts-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .syntax-break {
      display: none;
    }
  }
}
