:root {
  // --------------------------------------------------------
  // --                Radius variables                    --
  // --------------------------------------------------------

  --border-radius-0: 0px;
  --border-radius-1: 2px;
  --border-radius-3: 4px;
  --border-radius-4: 8px;
  --border-radius-5: 16px;

  --max-screen-size: 1800px;
  --header-height: 60px;
}
