// Custom scrollbar to use in the project
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--theme-background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-teal-600);
  }
}
