// Abstracts
@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

// Base
@use "./base/reset";
@use "./base/typography";
@use "./base/helpers";

// Layout
@use "./layout/Header";
@use "./layout/Layout";
@use "./layout/MobileMenu";
@use "./layout/Footer";

// Components
@use "./components/Accordion";
@use "./components/BackdropGlowingEffect";
@use "./components/BookItem";
@use "./components/CertificationItem";
@use "./components/CheckboxFilterItem";
@use "./components/CodeSnippet";
@use "./components/ContactForm";
@use "./components/ContentLayout";
@use "./components/DifficultyIndicator";
@use "./components/FloatingTags";
@use "./components/GridContainer";
@use "./components/HeroDisplay";
@use "./components/HeroIntro";
@use "./components/HobbieItem";
@use "./components/ImageGallery";
@use "./components/ProfilePic";
@use "./components/ProjectItem";
@use "./components/Sidebar";
@use "./components/SidebarItem";
// Components - UI
@use "./components/UI/Button";
@use "./components/UI/FormattedText";
@use "./components/UI/Input";
@use "./components/UI/Tag";

// Pages
@use "./Pages/HomePage";
@use "./Pages/HobbieDetailsPage";
@use "./Pages/ContactsPage";
@use "./Pages/ProjectPageStyles/ProjectsPage";
@use "./Pages/ProjectPageStyles/ProjectDetailsPage";
@use "./Pages/AboutPageStyles/AboutPage";
// About Sections
@use "./Pages/AboutPageStyles/sections/BioSection";
@use "./Pages/AboutPageStyles/sections/BooksSection";
@use "./Pages/AboutPageStyles/sections/CertificationsSection";
@use "./Pages/AboutPageStyles/sections/EducationSection";
@use "./Pages/AboutPageStyles/sections/HobbiesSection";

// Tablet
@media (max-width: 1024px) {
  :root {
    --margin-layout: 40px;
  }
}

// Phone
@media (max-width: 768px) {
  :root {
    --font-size-h1: 48px;
    --font-size-h2: 36px;
    --font-size-h3: 30px;
    --font-size-h4: 24px;
    --font-size-h5: 20px;
    --font-size-h6: 18px;

    --font-size-sm: 13px;
    --font-size-md: 15px;
    --font-size-lg: 16px;

    --margin-layout: 12px;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-h1: 36px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;

    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 15px;
  }
}
