.home-section {
  padding: var(--space-2xl);
  display: flex;
  gap: var(--space-3xl);
  margin: 0 auto;
  align-items: center;
  height: 100%;
  flex: 1;
  max-width: var(--max-screen-size);
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  .left-column,
  .right-column {
    align-self: center;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
  }

  .comments {
    margin-top: 75px;
    font-size: var(--font-size-md);
  }

  .github-link {
    margin-top: var(--space-base);
    font-size: var(--font-size-md);

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--link-foreground);
        text-decoration-thickness: 1px;
      }
    }
  }
}

// Tablet
@media (max-width: 1024px) {
  .home-section {
    padding: var(--space-base);
    margin: 0 auto;

    .left-column,
    .right-column {
      width: auto;
      flex: auto;
      max-width: 600px;
      min-width: 400px;
    }

    .github-link {
      margin-top: var(--space-base);
      font-size: var(--font-size-md);

      a {
        text-decoration: none;
        word-break: break-word;
      }
    }
  }
}

// Phone
@media (max-width: 768px) {
  .home-section {
    padding: var(--space-l);
    width: 100%;

    .left-column,
    .right-column {
      width: 100%;
    }

    .github-link {
      margin-top: var(--space-base);
      font-size: var(--font-size-md);

      a {
        text-decoration: none;
        word-break: break-word;
      }
    }
  }
}
