.content-layout {
  padding: var(--space-xl) var(--space-3xl);
  flex: 1;

  &__title {
    font-size: var(--font-size-h2);
    margin-bottom: var(--space-l);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-xl);
  }
}
