.content-layout {
  padding: var(--space-xl) var(--space-3xl);
  overflow-y: auto;
  flex: 1;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--theme-background);
    border-left: 1px solid var(--theme-stroke);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-teal-600);
  }

  &__title {
    font-size: var(--font-size-h2);
    margin-bottom: var(--space-xs);
  }

  &__subtitle {
    color: var(--color-slate-400);
    font-size: var(--font-size-md);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100% - 104px);
    gap: var(--space-xl);
    margin-top: var(--space-xl);

    &--centered {
      align-items: center;
    }
  }
}
