.tag {
  display: flex;
  pointer-events: none;
  align-items: center;
  gap: var(--space-s);
  border: 1px solid var(--theme-stroke);
  border-radius: 50px;
  background-color: var(--theme-backdrop-glossy);
  padding: var(--space-xxs) var(--space-s);
  backdrop-filter: filter(30px);
}
