.sidebar {
  position: relative;
  padding: var(--space-xl) var(--space-l);
  border-right: 1px solid var(--theme-stroke);
  width: var(--sidebar-width);
  height: 100%;
  transition: all 300ms ease;

  &-content {
    overflow: hidden;
  }

  &.sidebar-closed {
    padding: 0;
    width: 0px;
  }

  &-toggle {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
    transition: all 300ms ease;

    &:hover {
      text-decoration: underline;
    }
  }

  &-closed &-toggle {
    transform: translateX(42px) translateY(25px);
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background);
    border-top-right-radius: var(--border-radius-4);
    border-bottom-right-radius: var(--border-radius-4);
    padding: var(--space-xs) var(--space-xxs);

    &:hover {
      text-decoration: underline;
    }
  }
}
