.hobbie-item {
  background-color: var(--theme-backdrop-glossy);
  backdrop-filter: blur(20px);
  border: 1px solid var(--theme-stroke);
  border-radius: var(--border-radius-5);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image {
    transition: all 300ms ease;
    object-fit: cover;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__content {
    padding: var(--space-base);
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-subtitle {
      color: var(--foreground);
      margin-bottom: var(--space-s);
    }

    .btn {
      max-width: 120px;
    }
  }
}
