.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 200px));
  column-gap: var(--space-2xl);
  row-gap: var(--space-l);
  justify-content: center;
  padding-bottom: var(--space-xl);
}

// Tablet small
@media (width <= 1100px) {
  .columns.columns-books {
    justify-content: center;
  }
}
